@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);



body		{font-family:'Roboto',
		'Arial',
		'Noto Sans JP',
		'メイリオ',
		'Hiragino Kaku Gothic Pro',
		sans-serif;
		font-weight: 300;
		background-color: #ffffff;
		margin:0}

h1		{font-size: 30px;
		font-weight: 300;
		margin-bottom: 0}

h2		{font-weight: 300;
		margin-bottom: 0;}

p		{line-height: 1.5;
		//margin-top: 10px;}

header		{background-color: #ffffff;
		margin-top: 0px;
		margin-left: 10px;
		margin-right: 10px;
		padding-left: 5px;
		border-bottom: solid 1px #aaaaaa}

footer		{width: 900px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 30px;
		padding-right: 30px}

article		{background-color: #ffffff;
		width: 900px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 30px;
		padding-right: 30px}

a		{color: #000000}

a:hover		{text-decoration:underline;}
